:root {
    --white: #fff;
    --navLinksColor: #656d78;
    --logoColor: #174578;
    --sectionH1Color: #1c2f3a;
    --mainParaColor: #3b2325;
    --btnBgColor: #fc6e51;
    --sectionParaColor: #656d78;
    --skillsCardColor: #4fc1e9;
    --skillsH3Color: #3e3b3d;
    --certsCardColor: #4fc1e9;
    --certsH3Color: #3e3b3d;
    --inputBorderColor: #656d78;
    --profileBgColor: #fff;
    --modelH1Color: #fc6e51;
    --glassdoorColor: #347c17;
    --linkedinColor: blue;
    --monsterColor: purple;
    --indeedColor: rgb(7, 170, 224);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figure {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.content-side {
    padding-left: 50px;
}

header,
nav ul {
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 150px;
}

.logo {
    padding-right: 100px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 70px;
    color: var(--logoColor);
    cursor: pointer;
}

nav li {
    margin-right: 75px;
    font-size: 1.3rem;
    line-height: 75px;
    display: flex;
}

li a {
    color: var(--navLinksColor);
}

.main,
.about,
.skills-card,
.degree-cards,
.certs-cards,
.contact {
    padding: 15px 0 0 50px;
    position: absolute;
}

.about,
.skills,
.degrees,
.certs,
.contact {
    opacity: 0;
}

.main h1,
.about h1,
.certs h1,
.degrees h1,
.skills h1 {
    font-size: 3rem;
}

.certs,
h1,
.degrees,
h1,
.contact,
h1 {
    font-size: 1rem;
    color: var(--sectionH1Color);
}

h1:nth-child(2) {
    margin-bottom: 20px;
}

.main p {
    font-size: 1.5rem;
    color: var(--mainParaColor);
    max-width: 650px;
    margin-bottom: 40px;
    text-align: justify;
    text-align-last: left;
}

.main a,
.about a,
.certs a,
.degrees a,
.skills a,
.contact button {
    color: var(--white);
    background-color: var(--btnBgColor);
    padding: 10px 30px;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 50px;
}

.about h1,
.skills h1,
.certs h1,
.degrees h1,
.contact h1 {
    margin-bottom: 2px;
}

.about p,
.certs p,
.degrees p,
.skills>p {
    max-width: 650px;
    font-size: 1.3rem;
    color: var(--sectionParaColor);
    margin-bottom: 40px;
    text-align: justify;
}

.skills,
.certs,
.degrees,
.contact {
    padding: 100px 0 0 50px;
    position: absolute;
}

.skills-card {
    display: flex;
    flex-wrap: flex;
    text-align: center;
    max-width: 50px;
}

.skills-card div {
    border: 2px solid var(--skillsCardColor);
    padding: 2px;
    margin: 10px 10px;
    position: relative;
    z-index: 1;
}

.skills-card div::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--skillsCardColor);
    z-index: -1;
    transition: .5s ease;
}

.skills-card div:hover::after {
    height: 100%;
}

.skills-card div:hover p {
    color: var(--white);
}

.skills-card div:first-child {
    margin-left: 0;
}

.skills-card p {
    max-width: 100px;
    font-size: .9rem;
    margin-top: 10px;
    color: var(--sectionParaColor);
    font-weight: 100;
}

.skills img {
    width: 60px;
}

.skills h3 {
    text-transform: uppercase;
    color: var(--skillsH3Color);
    margin-top: 5px;
}

.degree-cards {
    display: flex;
    flex-wrap: flex;
    text-align: center;
    max-width: 50px;
}

.degree-cards div {
    border: 2px solid var(--certsCardColor);
    padding: 2px;
    margin: 10px 10px;
    position: relative;
    z-index: 1;
}

.degree-cards div::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--certsCardColor);
    z-index: -1;
    transition: .5s ease;
}

.degree-cards div:hover::after {
    height: 100%;
}

.degree-cards div:hover p {
    color: var(--white);
}

.degree-cards div:first-child {
    margin-left: 0;
}

.degree-cards p {
    max-width: 100px;
    font-size: .9rem;
    margin-top: 1px;
    color: var(--sectionParaColor);
    font-weight: 100;
}

.degree-cards img {
    width: 100%;
}

.degree h3 {
    text-transform: uppercase;
    color: var(--skillsH3Color);
    margin-top: 5px;
}

.certs-cards {
    display: flex;
    flex-wrap: flex;
    text-align: center;
    max-width: 50px;
}

.certs-cards div {
    border: 2px solid var(--certsCardColor);
    padding: 2px;
    margin: 10px 10px;
    position: relative;
    z-index: 1;
}

.certs-cards div::after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--certsCardColor);
    z-index: -1;
    transition: .5s ease;
}

.certs-cards div:hover::after {
    height: 100%;
}

.certs-cards div:hover p {
    color: var(--white);
}

.certs-cards div:first-child {
    margin-left: 0;
}

.certs-cards p {
    max-width: 100px;
    font-size: .9rem;
    margin-top: 1px;
    color: var(--sectionParaColor);
    font-weight: 100;
}

.certs img {
    width: 65px;
}

.certs h3 {
    text-transform: uppercase;
    color: var(--skillsH3Color);
    margin-top: 5px;
}

form {
    max-width: 500px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--inputBorderColor);
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid var(--inputBorderColor);
}

button {
    border: none;
    cursor: pointer;
}

button:focus,
.input:focus,
textarea:focus {
    outline: none;
}

.main-animation {
    animation: animate 1s;
}

@keyframes animate {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 0;
    }
}

@-webkit-keyframes animate {
    from {
        margin-top: 30px;
    }
    to {
        margin-top: 0;
    }
}

.assets-side {
    display: grid;
    grid-template-columns: 1fr .15fr;
}

.img {
    background-color: var(--profileBgColor);
}

.assets-side img {
    width: 300px;
    position: relative;
    left: 83.5%;
    right: 80%;
    transform: translateX(-70%);
}

.glassdoor,
.indeed,
.monster,
.linkedin {
    height: calc(100% /4);
}

.glassdoor {
    background-color: var(--glassdoorColor);
}

.indeed {
    background-color: var(--indeedColor);
}

.monster {
    background-color: var(--monsterColor);
}

.linkedin {
    background-color: var(--linkedinColor);
}

.links a {
    writing-mode: vertical-rl;
    font-size: 1.5rem;
    color: var(--white);
    height: calc(100% / 4);
    width: 100%;
    text-align: center;
    padding-right: 30px;
}

.open-model {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f85958;
    box-shadow: 0 .2rem .7rem rgba(248, 89, 89, .85);
    position: absolute;
    top: 48%;
    left: 48.5%;
    transform: translate(100%);
    font-size: 3.2rem;
    margin-top: 12px;
    text-align: center;
    cursor: pointer;
}

.model {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear .25s, opacity .25s 0s, transform .25s;
}

.model-content {
    background-color: var(--white);
    position: absolute;
    padding: 20px 40px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.model-content h1 {
    color: var(--modelH1Color);
    font-weight: 300;
    padding: 30px 0 10px 0;
}

.model-content div {
    display: flex;
    flex-wrap: wrap;
}

.model-content img {
    width: 40px;
    margin: 0 30px 20px 0;
}

.model-content p {
    margin-top: 10px;
}

.close-model {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
}

.show-model {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity .25s 0, transform .25s;
}